.movies__more {
    width: 100%;
    max-width: 1280px;
    margin: 50px auto 80px;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 551px) {
    .movies__more {
        width: 240px;
        
    }
}
.movies__btn {
    width: 320px;
    height: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    padding: 11px 60px 9px;
    border-radius: 6px;
    transition: opacity .4s linear;
    cursor: pointer;
}