.movies-list {
    width: 100%;
    margin: 70px;
}
@media screen and (min-width: 551px) and (max-width: 1200px) {
    .movies-list {
        max-width: 708px;
        padding: 60px 0;
        margin: 0;
        
    } 
}
@media screen and (min-width: 320px) and (max-width: 551px) {
    .movies-list {
        width: 300px;
        padding: 0;

    }
}
