.about-me {
    width: 100%;
    max-width: 1280px;
    padding: 110px 70px 100px;
    margin: auto;
    background-color: #FFFFFF;
    box-sizing: border-box;
}
@media screen and (min-width: 551px) and (max-width: 1200px) {
    .about-me {
        width: 100%;
        max-width: 768px;
        padding: 90px 50px ;
    }
}
@media screen and (min-width: 320px) and (max-width: 551px) {
    .about-me {
        max-width: 320px;
        padding: 70px 14px;
    }
}
.about-me__title {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    padding-bottom: 23px;
    border-bottom: 1px solid #000;
}
@media screen and (min-width: 320px) and (max-width: 551px) {
    .about-me__title {
        font-size: 18px;
        line-height: 22px;
    }
}
.about-me__container {
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
}
@media screen and (min-width: 320px) and (max-width: 551px) {
    .about-me__container {
        padding-top: 60px;
    flex-direction: column-reverse;
    }
}
.about-me__note {
    width: 600px;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 551px) and (max-width: 1200px) {
    .about-me__note {
        width: 364px;
    }
}
.about-me__name {
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    
}
@media screen and (min-width: 551px) and (max-width: 1200px) {
    .about-me__name {
        font-size: 40px;
        line-height: 40px;
    }
}
@media screen and (min-width: 320px) and (max-width: 551px) {
    .about-me__name {
        margin-top: 40px;
        font-size: 30px;
        line-height: 36px;
    }
}
.about-me__description {
    margin-top: 16px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    mix-blend-mode: normal;
}
@media screen and (min-width: 551px) and (max-width: 1200px) {
    .about-me__description {
        font-size: 12px;
        line-height: 18px;
    }
}
@media screen and (min-width: 320px) and (max-width: 551px) {
    .about-me__description {
        
font-size: 11px;
line-height: 16px;
    }
}
.about-me__story {
    margin-top: 26px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
}
@media screen and (min-width: 551px) and (max-width: 1200px) {
    .about-me__story {
        margin-top: 20px;
        font-size: 12px;
        line-height: 18px;
    }
}
@media screen and (min-width: 320px) and (max-width: 551px) {
    .about-me__story {
        width: 292px;
        font-size: 11px;
line-height: 16px;

    }
}
.about-me__links {
    margin-top: 99px;

}
@media screen and (min-width: 551px) and (max-width: 1200px) {
    .about-me__links {
        margin-top: 87px;
    }
}
@media screen and (min-width: 320px) and (max-width: 551px) {
    .about-me__links {
        margin-top: 40px;
        font-size: 14px;
line-height: 17px;
    }
}
.about-me__link {
    margin-right: 20px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-decoration: none;
    transition: opacity 0.4s linear;

}
.about-me__image {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
@media screen and (min-width: 551px) and (max-width: 1200px) {
    .about-me__image {
        width: 255px;
        height: 307px;
    }
}
@media screen and (min-width: 320px) and (max-width: 551px) {
    .about-me__image {
        width: 292px;
        height: 352px;
    }
}